html{
    font-size:26.67vw;
}
html,body,section{
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column
}
header,#banner,aside,nav,main,footer{
    width:100%
}
/* 头部区域 */
header{
    height:0.42rem;
    background: #666;
}
header form{
    width:3.38rem;
    height:0.3rem;
    background: red;
    margin:0.06rem auto
} 
form input{
    width:2.65rem;
    height:0.3rem;
    outline: none;
    border: none;
    background: #f6f6f6;
    border-radius: 0.15rem
}
/* 轮播图区域  */
#banner{
    height:1.53rem;
    background: pink;
}
/* 文本提示区域 */
aside{
    height:0.88rem;
    background: orange
}
/* 导航区域 */
nav{
    height:0.59rem;
    background: skyblue;
}
/* 主要内容区域 */
main{
    flex:1;
    background: red;
}
/* 底部 */
footer{
    height:0.5rem;
    background: khaki;
}   